@import url(./__button/slider__button.css);
@import url(./__header/slider__header.css);
@import url(./__header-title/slider__header-title.css);
@import url(./__header-link/slider__header-link.css);

.slider {
  display: flex;
  background: #f5f6f7;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 20px;
}
