@import url("./__resume/result-of-search__resume.css");
@import url("./__first-block/result-of-search__first-block.css");
@import url(./__button/result-of-search__button.css);

.result-of-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f6f7;
}
.result-of-search_kill {
  display: none;
}
