.technology-list__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  /*padding-right: 230px;*/
}
@media screen and (max-width: 1000px) {
  .technology-list__wrapper {
    justify-content: space-around;
  }
}
@media screen and (max-width: 767px) {
  .technology-list__wrapper {
    flex-wrap: wrap;
  }
}
