.result-of-search__resume-head {
  font-family: "Roboto Regular";
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: rgba(26, 27, 34, 0.5);
  padding-top: 20px;
}
