@import url(./__title/technology-list__title.css);
@import url(./__wrapper/technology-list__wrapper.css);
@import url(./__init/technology-list__unit.css);
@import url(./__unit-name/technology-list__unit-name.css);

.technology-list {
  background-color: #e5e6e7;
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  padding-top: 87px;
  padding-bottom: 88px;
}
@media screen and (max-width: 1000px) {
  .technology-list {
    flex-direction: column;
  }
}
