.header-mobile-open__menu {
  font-family: "Roboto Regular";
  font-size: 18px;
  line-height: 56px;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  text-decoration: none;
}
.header-mobile-open__menu_white-letters {
  color: white;
}
.header-mobile-open__menu_grey-letters {
  color: #b6bcbf;
}
.header-mobile-open__menu_black-letters {
  color: #1a1b22;
  background-color: #fff;
}
