@import url(../__copyright/_big-mark/footer__copyright_big-mark.css);

.footer__copyright {
  width: 130px;
  font-family: "Roboto Regular";
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  padding-left: 98px;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    order: 3;
    align-self: flex-start;
    padding-left: 24px;
  }
}
