.header-desktop__button {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 176px;
  height: 48px;
  border-radius: 100px;
  box-sizing: border-box;
  background-color: transparent;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
}
