.lead__subtitle {
  color: white;
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: calc(600px - (1440px - 100vw) / 3.36);
  margin-left: auto;
  margin-right: auto;
}
