.header-desktop__logo {
  color: white;
  font-family: "Robotoslab Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-left: calc(102px - (1440px - 100%) / 10.84);
}
.header-desktop__logo_black {
  color: #1a1b22;
}
