@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__logo-group/footer__logo-group.css);
@import url(./__link-group/footer__link-group.css);
@import url(./__logo/footer__logo.css);
@import url(./__link-list/footer__link-list.css);

.footer {
  display: flex;
  background-color: #fff;
  padding-top: 20px;
  justify-content: flex-end;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .footer {
    flex-wrap: wrap;
  }
}
