.result-of-search__first-block {
    display: flex;
    max-width: 1440px;
    padding-left: 104px;
    padding-bottom: 5px;
}
.result-of-search__start {
    font-family: 'Robotoslab Regular';
    font-size: 40px;
    line-height: 46px;
    margin-top: 85px;
    color: #1a1b22;
    margin-bottom: 0;
}
