.popup__invalid-message {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  font-weight: normal;
  color: #ff0000;
}
.popup__invalid-message:first-of-type {
  margin-top: -20px;
}
