.news-list {
  background-color: #f5f6f7;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-template-rows: repeat(auto-fill, 576px);
  grid-gap: 16px 16px;
  justify-content: center;
  padding-top: 62px;
  margin-bottom: 62px;
}
