@import url(./__wrapper/text__wrapper.css);
@import url(./__title/text__title.css);
@import url(./__main/text__main.css);

.text {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 45px;
  padding-bottom: 50px;
}
