.news-card__name {
    font-family: Robotoslab Regular;
    font-size: 26px;
    line-height: 30px;
    color: #1a1b22;
    font-weight: normal;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 12px;
    margin-bottom: 0;
}