.popup__input {
  width: 100%;
  height: 14px;
  border: 0;
  font-family: "Roboto Regular";
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: normal;
  padding: 8px 6px 8px;
  outline-width: 10px;
  margin-bottom: 31px;
}
.popup__input:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0);
  background-color: transparent;
}

.popup__input:last-of-type {
  margin-bottom: 45px;
}
