@import url(./__logo/header-desktop__logo.css);
@import url(./__menu/header-desktop__menu.css);
@import url(./__button/header-desktop__button.css);
@import url(./_white/header-desktop_white.css);
@import url(./__wrapper/header-desktop__wrapper.css);

.header-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  width: auto;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 767px) {
  .header-desktop {
    display: none;
  }
}
