@import url("./__logo/header-logout__logo.css");
@import url(./__menu/header-logout__menu.css);
@import url(./__button/header-logout__button.css);

.header-logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  width: auto;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  /*padding-top: 5px;
  padding-left: 10px;*/
}
.header-logout_white {
  background-color: #fff;
  box-shadow: inset 0 -1px 0 #d1d2d6;
}
.header-wrapper {
  display: flex;
  margin-right: 83px;
}
.header-logout_kill {
  display: none;
}
.header-logout__bottom-line {
  box-shadow: inset 0 -3px 0 rgba(255, 255, 255, 1);
}
.header-logout_white-letters {
  color: white;
}
.header-logout_grey-letters {
  color: #b6bcbf;
}
.header-logout_black-letters {
  color: #1a1b22;
}
