.carousel-cell__name {
    font-family: 'Robotoslab Regular';
    font-size: 26px;
    line-height: 30px;
    color: #1a1b22;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 5px;
}