.news-card__save-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
.news-card__save-icon:hover .news-card__note-text {
  display: flex;
}
.news-card__save-icon:hover path {
  stroke: #1a1b22;
}
